.navbar {
    display: flex;
    align-items: center;
    background-color: #3B5BA7;
    color: #fff;
    padding: 1.5rem;
}

.navbar-left .logo {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

.favorites-bar {
    display: flex;
    gap: 3rem;      
    margin-left: auto;   
}

.empty-card-slot {
    width: 45px;
    height: 65px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
}

.navbar-right {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    margin-left: auto;
    flex-wrap: wrap;     
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0; 
    padding: 0;
}

.nav-links li {
    margin-right: 1.5rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.45rem;
}

.nav-button-link {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.45rem;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    font-family: inherit;
    margin-top: 0.2rem;
}

.nav-search-bar {
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    width: 17rem;
    border-radius: 4px;
    border: 1px solid #AEB0AE;
    background-color: #222;
    color: #ccc;
    margin-left: 1rem; 
}

.nav-search-bar::placeholder {
    font-size: 1.4rem;
    color: #ccc;
}
